<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>pushin back up files to git</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># change directory to backup folder
cd ${JENKINS_HOME}/backup

# push  the latest backup to git
git add *
git commit -m &quot;Jenkins Backup&quot;
git push -u origin master

echo &quot;Backup pushed successfully&quot;

# remove the backup folder
rm -r *

echo &quot;Removed the folder from the backup&quot;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>